# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Model files (VERY IMPORTANT)
# =========================
model/*.pkl

# =========================
# Data files (DO NOT PUSH BIG DATA)
# =========================
data/train.csv
data/X_train.csv
data/X_test.csv
data/y_train.csv
data/y_test.csv

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# VS Code settings
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Docker
# =========================
*.log